<div class="container about">
    <div class="">
        <div class="">
            <!-- <img src="../../../assets/img/truepsyblack.PNG" alt=""> -->
            <h1>True Psy</h1>
        </div>
        <hr>

        <p>TruePsy es una Productora de eventos & Booking de artistas enfocada al Psytrance, con base en Buenos Aires, Argentina. Fundada en el 2018 por ABAT, Morsei & Aktyum.
        </p>
        <br><br>
        <p> Con residencia en Bahrein , uno de los clubes con mejor sonido e iluminación de la gran ciudad.Han participado artistas internacionales de 1er nivel: Galactic Explorers, Astrix, Ace Ventura, Outsiders, Captain Hook & Volcano .
        </p>
        <br><br>
        <p>
            Otros clubes como Vox, Blow y Réquiem, también fueron parte de la localía del ciclo. En nuestros ciclos secundarios: New Road & Versus , mostramos a los nuevos talentos y mezclamos artistas de otras productoras con nuestro roster de artistas. Nuestro
            roster de artistas 2019 esta conformado por: ABAT, Aktyum, Deep Vibration, Space Travellers, STLKR, MoRsei
        </p>
    </div>
</div>