<footer>

    <div class="footer text-center">
        <div class="container iconos ">
            <img src="../../../assets/img/truepsywhite.PNG" width="200px" alt="">
            <div class="iconos text-center">
                <a href="https://www.instagram.com/truepsyarg/"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://www.facebook.com/Truepsyarg"><i class=" fab fa-facebook-square fa-2x "></i></a>
                <a href="#"><i class="fab fa-twitter-square fa-2x "></i></a>
                <a href="https://soundcloud.com/true-psy"> <i class="fab fa-soundcloud fa-2x "></i></a>

            </div>
            <div>
                © 2009—2020 Co-Coding
            </div>
        </div>


    </div>

</footer>